In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [3]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [4]:
df.loc[df['성별']=='남자', '성별']=1

In [5]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트   1  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG   1  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트   1  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트   1  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트   1  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스   1  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트   1  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티   1  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오   1  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스   1  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스   1  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트   1  1993-03-09  174.0   O   2925442

In [7]:
df.loc[df['성별']=='여자','성별']=0

In [8]:
df

      이름     그룹      소속사 성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  1  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  1  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  1  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  1  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  0  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  1  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  1  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  0  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  1  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  1  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  0  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  1  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  1  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  1  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  1  1993-03-09  174.0   O   2925442

In [9]:
 df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [10]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [11]:
def male_or_female(x):
    if x== '남자':
        return 1
    elif x == '여자':
        return 0

In [12]:
df['성별'].apply(male_or_female)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
Name: 성별, dtype: int64

In [13]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [14]:
df['성별'] = df['성별'].apply(male_or_female)

In [15]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트   1  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG   1  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트   1  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트   1  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW   0  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트   1  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스   1  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브   0  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트   1  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티   1  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM   0  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오   1  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스   1  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스   1  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트   1  1993-03-09  174.0   O   2925442

In [16]:
def cm_to_brand(df):
    value = df['브랜드평판지수'] / df['키']
    return value

In [17]:
cm_to_brand

In [18]:
df.apply(cm_to_brand)

KeyError: ignored

In [19]:
df.apply(cm_to_brand, axis=1)

0     60617.857143
1     56027.949153
2     45965.250000
3     45356.747191
4     47198.815546
5     29260.308989
6     27371.321997
7              NaN
8     25503.950893
9     24156.128067
10             NaN
11    19158.617486
12    18866.594286
13    18603.051136
14    16812.885057
dtype: float64

In [20]:
df_new=df.apply(cm_to_brand, axis=1)

In [22]:
df_new['new']=df.apply(cm_to_brand, axis=1)

In [26]:
df_new = df.copy()

In [27]:
df_new

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트   1  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG   1  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트   1  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트   1  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW   0  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트   1  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스   1  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브   0  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트   1  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티   1  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM   0  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오   1  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스   1  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스   1  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트   1  1993-03-09  174.0   O   2925442

In [28]:
df_new['추가']=df.apply(cm_to_brand, axis=1)

In [29]:
df_new

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수            추가
0     지민  방탄소년단      빅히트   1  1995-10-13  173.6   A  10523260  60617.857143
1   지드래곤     빅뱅       YG   1  1988-08-18  177.0   A   9916947  56027.949153
2   강다니엘    NaN      커넥트   1  1996-12-10  180.0   A   8273745  45965.250000
3      뷔  방탄소년단      빅히트   1  1995-12-30  178.0  AB   8073501  45356.747191
4     화사    마마무      RBW   0  1995-07-23  162.1   A   7650928  47198.815546
5     정국  방탄소년단      빅히트   1  1997-09-01  178.0   A   5208335  29260.308989
6     민현   뉴이스트     플레디스   1  1995-08-09  182.3   O   4989792  27371.321997
7     소연    아이들       큐브   0  1998-08-26    NaN   B   4668615           NaN
8      진  방탄소년단      빅히트   1  1992-12-04  179.2   O   4570308  25503.950893
9    하성운     핫샷  스타크루이엔티   1  1994-03-22  167.1   A   4036489  24156.128067
10    태연   소녀시대       SM   0  1989-03-09    NaN   A   3918661           NaN
11   차은우   아스트로     판타지오   1  1997-03-30  183.0   B   3506027  19158.617486
12    백호   뉴이스트     플레디스   1  1995-07-21  175.0  AB   3301654  18866.594286
13    JR   뉴이스트     플레디스   1  1995-06-08  176.0   O   3274137  18603.051136
14    슈가  방탄소년단      빅히트   1  1993-03-09  174.0   O   2925442  16812.885057

In [34]:
 df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [35]:
f = lambda x : 1 if x == '남자' else 0

In [38]:
df['성별']=df['성별'].apply(f)

In [39]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트   1  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG   1  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트   1  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트   1  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW   0  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트   1  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스   1  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브   0  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트   1  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티   1  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM   0  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오   1  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스   1  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스   1  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트   1  1993-03-09  174.0   O   2925442

In [48]:
df['키/2'] = df['키'].apply(lambda x: x/2)

In [49]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    키/2
0     지민  방탄소년단      빅히트   1  1995-10-13  173.6   A  10523260  86.80
1   지드래곤     빅뱅       YG   1  1988-08-18  177.0   A   9916947  88.50
2   강다니엘    NaN      커넥트   1  1996-12-10  180.0   A   8273745  90.00
3      뷔  방탄소년단      빅히트   1  1995-12-30  178.0  AB   8073501  89.00
4     화사    마마무      RBW   0  1995-07-23  162.1   A   7650928  81.05
5     정국  방탄소년단      빅히트   1  1997-09-01  178.0   A   5208335  89.00
6     민현   뉴이스트     플레디스   1  1995-08-09  182.3   O   4989792  91.15
7     소연    아이들       큐브   0  1998-08-26    NaN   B   4668615    NaN
8      진  방탄소년단      빅히트   1  1992-12-04  179.2   O   4570308  89.60
9    하성운     핫샷  스타크루이엔티   1  1994-03-22  167.1   A   4036489  83.55
10    태연   소녀시대       SM   0  1989-03-09    NaN   A   3918661    NaN
11   차은우   아스트로     판타지오   1  1997-03-30  183.0   B   3506027  91.50
12    백호   뉴이스트     플레디스   1  1995-07-21  175.0  AB   3301654  87.50
13    JR   뉴이스트     플레디스   1  1995-06-08  176.0   O   3274137  88.00
14    슈가  방탄소년단      빅히트   1  1993-03-09  174.0   O   2925442  87.00

In [50]:
my_map = {

    '남자' : 1,
    '여자' : 0

}

In [51]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    키/2
0     지민  방탄소년단      빅히트   1  1995-10-13  173.6   A  10523260  86.80
1   지드래곤     빅뱅       YG   1  1988-08-18  177.0   A   9916947  88.50
2   강다니엘    NaN      커넥트   1  1996-12-10  180.0   A   8273745  90.00
3      뷔  방탄소년단      빅히트   1  1995-12-30  178.0  AB   8073501  89.00
4     화사    마마무      RBW   0  1995-07-23  162.1   A   7650928  81.05
5     정국  방탄소년단      빅히트   1  1997-09-01  178.0   A   5208335  89.00
6     민현   뉴이스트     플레디스   1  1995-08-09  182.3   O   4989792  91.15
7     소연    아이들       큐브   0  1998-08-26    NaN   B   4668615    NaN
8      진  방탄소년단      빅히트   1  1992-12-04  179.2   O   4570308  89.60
9    하성운     핫샷  스타크루이엔티   1  1994-03-22  167.1   A   4036489  83.55
10    태연   소녀시대       SM   0  1989-03-09    NaN   A   3918661    NaN
11   차은우   아스트로     판타지오   1  1997-03-30  183.0   B   3506027  91.50
12    백호   뉴이스트     플레디스   1  1995-07-21  175.0  AB   3301654  87.50
13    JR   뉴이스트     플레디스   1  1995-06-08  176.0   O   3274137  88.00
14    슈가  방탄소년단      빅히트   1  1993-03-09  174.0   O   2925442  87.00

In [52]:
 df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [53]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [54]:
df['성별'].map(my_map)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
Name: 성별, dtype: int64

In [57]:
my_map = {

    '남자': 'male',
    '여자': 'female'

}

In [58]:
my_map

{'남자': 'male', '여자': 'female'}

In [59]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [60]:
df['성별'] =  df['성별'].map(my_map)

In [61]:
df

      이름     그룹      소속사      성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트    male  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG    male  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트    male  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트    male  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  female  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트    male  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스    male  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  female  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트    male  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티    male  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  female  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오    male  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스    male  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스    male  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트    male  1993-03-09  174.0   O   2925442

In [62]:
import pandas as pd
import numpy as np

In [63]:
df = pd.DataFrame({'통계': [60, 70, 80, 85, 75], '미술': [50, 55, 80, 100, 95], '체육': [70, 65, 50, 95, 100] })

In [64]:
df

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [65]:
type(df['통계'])

pandas.core.series.Series

In [66]:
df['통계'] + df['미술'] + df['체육']

0    180
1    190
2    210
3    280
4    270
dtype: int64

In [67]:
df['통계'] - df['미술']

0    10
1    15
2     0
3   -15
4   -20
dtype: int64

In [68]:
df['통계'] * df['미술']

0    3000
1    3850
2    6400
3    8500
4    7125
dtype: int64

In [69]:
df['통계'] / df['미술']

0    1.200000
1    1.272727
2    1.000000
3    0.850000
4    0.789474
dtype: float64

In [70]:
df['통계'] % df['미술']

0    10
1    15
2     0
3    85
4    75
dtype: int64

In [72]:
df['통계'] + 10

0    70
1    80
2    90
3    95
4    85
Name: 통계, dtype: int64

In [73]:
df['통계'] - 10

0    50
1    60
2    70
3    75
4    65
Name: 통계, dtype: int64

In [74]:
df['통계'] * 10

0    600
1    700
2    800
3    850
4    750
Name: 통계, dtype: int64

In [75]:
df['통계'] / 10

0    6.0
1    7.0
2    8.0
3    8.5
4    7.5
Name: 통계, dtype: float64

In [76]:
df['통계'] % 10

0    0
1    0
2    0
3    5
4    5
Name: 통계, dtype: int64

In [77]:
df = pd.DataFrame({'통계': [60, 70, 80, 85, 75], '미술': [50, 55, 80, 100, 95], '체육': [70, 65, 50, 95, 100] })

In [78]:
df

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [79]:
df['통계미술합계'] = df['통계'] + df['미술'] + 10

In [80]:
df

   통계   미술   체육  통계미술합계
0  60   50   70     120
1  70   55   65     135
2  80   80   50     170
3  85  100   95     195
4  75   95  100     180

In [81]:
df['통계'] + df['미술'] - df['체육']

0     40
1     60
2    110
3     90
4     70
dtype: int64

In [82]:
df.mean(axis=0)

통계         74.0
미술         76.0
체육         76.0
통계미술합계    160.0
dtype: float64

In [83]:
df

   통계   미술   체육  통계미술합계
0  60   50   70     120
1  70   55   65     135
2  80   80   50     170
3  85  100   95     195
4  75   95  100     180

In [85]:
df.mean(axis=1)

0     75.00
1     81.25
2     95.00
3    118.75
4    112.50
dtype: float64

In [86]:
df.mean()

통계         74.0
미술         76.0
체육         76.0
통계미술합계    160.0
dtype: float64

In [87]:
df = pd.DataFrame({'통계': [60, 70, 80, 85, 75], '미술': [50, 55, 80, 100, 95], '체육': [70, 65, 50, 95, 100] })

In [88]:
df

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [89]:
df.sum(axis=0)

통계    370
미술    380
체육    380
dtype: int64

In [90]:
df.mean(axis=0)

통계    74.0
미술    76.0
체육    76.0
dtype: float64

In [91]:
df.sum(axis=1)

0    180
1    190
2    210
3    280
4    270
dtype: int64

In [92]:
df.mean(axis=1)

0    60.000000
1    63.333333
2    70.000000
3    93.333333
4    90.000000
dtype: float64

In [94]:
df = pd.DataFrame({'통계': [60, 70, np.nan , 85, 75], '미술': [50, np.nan , 80, 100, 95], '체육': [70, 65, 50, np.nan , 100] })

In [95]:
df

     통계     미술     체육
0  60.0   50.0   70.0
1  70.0    NaN   65.0
2   NaN   80.0   50.0
3  85.0  100.0    NaN
4  75.0   95.0  100.0

In [96]:
df['통계'] / 2

0    30.0
1    35.0
2     NaN
3    42.5
4    37.5
Name: 통계, dtype: float64

In [97]:
1000 / df['통계']

0    16.666667
1    14.285714
2          NaN
3    11.764706
4    13.333333
Name: 통계, dtype: float64

In [98]:
df['통계'] / np.nan

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 통계, dtype: float64

In [99]:
np.nan / df['통계']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 통계, dtype: float64

In [100]:
df1 = pd.DataFrame({'통계': [60, 70, 80, 85, 75], '미술': [50, 55, 80, 100, 95], '체육': [70, 65, 50, 95, 100] })

In [101]:
df2 = pd.DataFrame({'통계': ['good', 'bad', 'ok' , 'good', 'ok'], '미술': [50, 60 , 80, 100, 95], '체육': [70, 65, 50, 70 , 100] })

In [102]:
df1

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [103]:
df2

     통계   미술   체육
0  good   50   70
1   bad   60   65
2    ok   80   50
3  good  100   70
4    ok   95  100

In [104]:
df1 + df2

TypeError: ignored

In [105]:
df1 + 10

   통계   미술   체육
0  70   60   80
1  80   65   75
2  90   90   60
3  95  110  105
4  85  105  110

In [106]:
df2 + 10

TypeError: ignored

In [107]:
df1 = pd.DataFrame({'미술': [10, 20, 30, 40, 50], '통계':[60, 70, 80, 90, 100] })
df2 = pd.DataFrame({'통계': [10, 20, 30, 40, 50], '미술': [60, 70, 80, 90, 100] })

In [108]:
df1

   미술   통계
0  10   60
1  20   70
2  30   80
3  40   90
4  50  100

In [109]:
df2

   통계   미술
0  10   60
1  20   70
2  30   80
3  40   90
4  50  100

In [110]:
df1 + df2

    미술   통계
0   70   70
1   90   90
2  110  110
3  130  130
4  150  150

In [111]:
df1 = pd.DataFrame({'미술': [10, 20, 30, 40, 50, 60], '통계':[60, 70, 80, 90, 100, 110] })
df2 = pd.DataFrame({'통계': [10, 20, 30, 40, 50], '미술': [60, 70, 80, 90, 100] })

In [112]:
df1

   미술   통계
0  10   60
1  20   70
2  30   80
3  40   90
4  50  100
5  60  110

In [113]:
df2

   통계   미술
0  10   60
1  20   70
2  30   80
3  40   90
4  50  100

In [114]:
df1 * df2

       미술      통계
0   600.0   600.0
1  1400.0  1400.0
2  2400.0  2400.0
3  3600.0  3600.0
4  5000.0  5000.0
5     NaN     NaN

In [116]:
df1+df2

      미술     통계
0   70.0   70.0
1   90.0   90.0
2  110.0  110.0
3  130.0  130.0
4  150.0  150.0
5    NaN    NaN