In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://bit.ly/ds-house-price')

In [3]:
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [4]:
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4505 non-null   object
 1   규모구분     4505 non-null   object
 2   연도       4505 non-null   int64
 3   월        4505 non-null   int64
 4   분양가격(㎡)  4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [7]:
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [9]:
df.rename(df.['분양가격(㎡)','분양가격'])

SyntaxError: ignored

In [10]:
df.rename()

TypeError: ignored

In [13]:
df.rename(df['분양가격(㎡)':'분양가격'])

TypeError: ignored

In [17]:
df=df.rename(columns={'분양가격(㎡)':'분양가격'})

In [18]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [19]:
df.describe()

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

분양가격 칼럼 데이터타입 바꾸기

In [32]:
df['분양가격'].astype(int)

ValueError: ignored

In [44]:
df.loc[df['분양가격']=='  ']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [47]:
df['분양가격']=df.replace(df['분양가격']=='  ','')

In [49]:
df

     지역명               규모구분    연도   월 분양가격
0     서울                 전체  2015  10   서울
1     서울         전용면적 60㎡이하  2015  10   서울
2     서울   전용면적 60㎡초과 85㎡이하  2015  10   서울
3     서울  전용면적 85㎡초과 102㎡이하  2015  10   서울
4     서울        전용면적 102㎡초과  2015  10   서울
...   ..                ...   ...  ..  ...
4500  제주                 전체  2020   2   제주
4501  제주         전용면적 60㎡이하  2020   2   제주
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2   제주
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   제주
4504  제주        전용면적 102㎡초과  2020   2   제주

[4505 rows x 5 columns]

In [50]:
df.loc[df['분양가격']=='  ']

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [51]:
df['분양가격'].astype(int)

ValueError: ignored

In [52]:
df.loc[df['분양가격']=='서울']

     지역명               규모구분    연도   월 분양가격
0     서울                 전체  2015  10   서울
1     서울         전용면적 60㎡이하  2015  10   서울
2     서울   전용면적 60㎡초과 85㎡이하  2015  10   서울
3     서울  전용면적 85㎡초과 102㎡이하  2015  10   서울
4     서울        전용면적 102㎡초과  2015  10   서울
...   ..                ...   ...  ..  ...
4420  서울                 전체  2020   2   서울
4421  서울         전용면적 60㎡이하  2020   2   서울
4422  서울   전용면적 60㎡초과 85㎡이하  2020   2   서울
4423  서울  전용면적 85㎡초과 102㎡이하  2020   2   서울
4424  서울        전용면적 102㎡초과  2020   2   서울

[265 rows x 5 columns]

In [53]:
df

     지역명               규모구분    연도   월 분양가격
0     서울                 전체  2015  10   서울
1     서울         전용면적 60㎡이하  2015  10   서울
2     서울   전용면적 60㎡초과 85㎡이하  2015  10   서울
3     서울  전용면적 85㎡초과 102㎡이하  2015  10   서울
4     서울        전용면적 102㎡초과  2015  10   서울
...   ..                ...   ...  ..  ...
4500  제주                 전체  2020   2   제주
4501  제주         전용면적 60㎡이하  2020   2   제주
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2   제주
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   제주
4504  제주        전용면적 102㎡초과  2020   2   제주

[4505 rows x 5 columns]

shit...

In [81]:
df = pd.read_csv('https://bit.ly/ds-house-price')

In [82]:
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [83]:
df['분양가격'].astype(int)

KeyError: ignored

In [ ]:
df

In [91]:
df=df.rename(columns={'분양가격(㎡)':'분양가격'})

In [92]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [93]:
df['분양가격'].astype(int)

ValueError: ignored

In [94]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [95]:
df.loc[df['분양가격']=='  ']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [96]:
df['분양가격']=df['분양가격'].str.replace('  ','')

In [97]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [98]:
df.loc[df['분양가격']=='  ']

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [99]:
df['분양가격'].astype(int)

ValueError: ignored

In [101]:
df.loc[df['분양가격']=='', '분양가격'] = 0

In [102]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [103]:
df['분양가격'].astype(int)

ValueError: ignored

In [106]:
df['분양가격']=df['분양가격'].fillna(0)

In [107]:
df['분양가격'].astype(int)

ValueError: ignored

In [109]:
df.loc[df['분양가격'] == '6,657', '분양가격'] = 6657

In [110]:
df['분양가격'].astype(int)

ValueError: ignored

In [111]:
df.loc[df['분양가격'] == '6,931', '분양가격'] = 6931

In [112]:
df['분양가격'].astype(int)

ValueError: ignored

In [114]:
df.loc[df['분양가격'] == '5,899', '분양가격'] = 5899

In [115]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     0
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [116]:
df['분양가격'].astype(int)

ValueError: ignored

In [125]:
df.loc[df['분양가격'].str.contains(',',na=False)]

     지역명               규모구분    연도   월   분양가격
2128  서울  전용면적 85㎡초과 102㎡이하  2017  11  7,311
2129  서울        전용면적 102㎡초과  2017  11  6,880
2130  인천                 전체  2017  11  3,300
2131  인천         전용면적 60㎡이하  2017  11  3,330
2132  인천   전용면적 60㎡초과 85㎡이하  2017  11  3,306
...   ..                ...   ...  ..    ...
2203  경남  전용면적 85㎡초과 102㎡이하  2017  11  2,914
2204  경남        전용면적 102㎡초과  2017  11  2,838
2205  제주                 전체  2017  11  3,560
2206  제주         전용면적 60㎡이하  2017  11  5,380
2207  제주   전용면적 60㎡초과 85㎡이하  2017  11  3,477

[73 rows x 5 columns]

망할 ','가 너무 많음.

In [128]:
df['분양가격'] = df['분양가격'].replace(',','')

In [129]:
df.loc[df['분양가격'].str.contains(',',na=False)]

     지역명               규모구분    연도   월   분양가격
2128  서울  전용면적 85㎡초과 102㎡이하  2017  11  7,311
2129  서울        전용면적 102㎡초과  2017  11  6,880
2130  인천                 전체  2017  11  3,300
2131  인천         전용면적 60㎡이하  2017  11  3,330
2132  인천   전용면적 60㎡초과 85㎡이하  2017  11  3,306
...   ..                ...   ...  ..    ...
2203  경남  전용면적 85㎡초과 102㎡이하  2017  11  2,914
2204  경남        전용면적 102㎡초과  2017  11  2,838
2205  제주                 전체  2017  11  3,560
2206  제주         전용면적 60㎡이하  2017  11  5,380
2207  제주   전용면적 60㎡초과 85㎡이하  2017  11  3,477

[73 rows x 5 columns]

In [132]:
df['분양가격'] = df['분양가격'].str.replace(',','')

In [133]:
df.loc[df['분양가격'].str.contains(',',na=False)]

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [134]:
df['분양가격'].astype(int)

ValueError: ignored

In [137]:
df['분양가격']=df['분양가격'].fillna(0)

In [138]:
df['분양가격'].astype(int)

ValueError: ignored

In [139]:
df.loc[df['분양가격']=='-']

     지역명               규모구분    연도  월 분양가격
3683  광주  전용면적 85㎡초과 102㎡이하  2019  5    -
3686  대전         전용면적 60㎡이하  2019  5    -
3688  대전  전용면적 85㎡초과 102㎡이하  2019  5    -
3690  울산                 전체  2019  5    -
3691  울산         전용면적 60㎡이하  2019  5    -
3692  울산   전용면적 60㎡초과 85㎡이하  2019  5    -
3693  울산  전용면적 85㎡초과 102㎡이하  2019  5    -
3694  울산        전용면적 102㎡초과  2019  5    -
3696  세종         전용면적 60㎡이하  2019  5    -

In [140]:
df['분양가격'] = df['분양가격'].str.replace('-','')

In [141]:
df['분양가격'].astype(int)

ValueError: ignored

In [142]:
df['분양가격']=df['분양가격'].fillna(0)

In [143]:
df['분양가격'].astype(int)

ValueError: ignored

In [144]:
df['분양가격']=df['분양가격'].fillna(0)

In [146]:
df.loc[df['분양가격']=='','분양가격']=0

In [147]:
df['분양가격'].astype(int)

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
4500    3955
4501    4039
4502    3962
4503       0
4504    3601
Name: 분양가격, Length: 4505, dtype: int64

In [148]:
df.describe()

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [151]:
df['분양가격']=df['분양가격'].astype(int)

In [152]:
df.describe()

                연도            월          분양가격
count  4505.000000  4505.000000   4505.000000
mean   2017.452830     6.566038   3023.722752
std       1.311432     3.595519   1496.171187
min    2015.000000     1.000000      0.000000
25%    2016.000000     3.000000   2357.000000
50%    2017.000000     7.000000   2783.000000
75%    2019.000000    10.000000   3521.000000
max    2020.000000    12.000000  13835.000000