In [1]:
import pandas as pd
import numpy as np

In [6]:
s = pd.Series([1,3,5,np.nan,6,8])

In [8]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
dates = pd.date_range('20200101', periods=6)

In [10]:
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])

In [12]:
df

                   A         B         C         D
2020-01-01 -0.497087 -1.238963  0.620610  0.229958
2020-01-02 -1.168444  1.723503 -0.005929  1.584152
2020-01-03 -0.501063  2.178142 -0.293941  0.008873
2020-01-04 -2.026065  0.869705 -0.504601  0.293973
2020-01-05 -0.836606 -0.205308 -0.200552  0.352849
2020-01-06 -1.304308 -0.113437 -0.177676  0.336422

In [13]:
df.head(3)

                   A         B         C         D
2020-01-01 -0.497087 -1.238963  0.620610  0.229958
2020-01-02 -1.168444  1.723503 -0.005929  1.584152
2020-01-03 -0.501063  2.178142 -0.293941  0.008873

In [14]:
df.head()

                   A         B         C         D
2020-01-01 -0.497087 -1.238963  0.620610  0.229958
2020-01-02 -1.168444  1.723503 -0.005929  1.584152
2020-01-03 -0.501063  2.178142 -0.293941  0.008873
2020-01-04 -2.026065  0.869705 -0.504601  0.293973
2020-01-05 -0.836606 -0.205308 -0.200552  0.352849

In [15]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.values

array([[-0.49708706, -1.23896286,  0.62060978,  0.2299579 ],
       [-1.16844384,  1.72350326, -0.0059291 ,  1.58415166],
       [-0.50106285,  2.17814221, -0.2939415 ,  0.00887307],
       [-2.02606511,  0.86970464, -0.50460103,  0.29397342],
       [-0.83660631, -0.20530846, -0.20055215,  0.3528487 ],
       [-1.30430774, -0.11343733, -0.17767562,  0.33642201]])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-01-01 to 2020-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -1.055595  0.535607 -0.093682  0.467704
std    0.580310  1.291507  0.386095  0.561091
min   -2.026065 -1.238963 -0.504601  0.008873
25%   -1.270342 -0.182341 -0.270594  0.245962
50%   -1.002525  0.378134 -0.189114  0.315198
75%   -0.584949  1.510054 -0.048866  0.348742
max   -0.497087  2.178142  0.620610  1.584152

In [20]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2020-01-03 -0.501063  2.178142 -0.293941  0.008873
2020-01-02 -1.168444  1.723503 -0.005929  1.584152
2020-01-04 -2.026065  0.869705 -0.504601  0.293973
2020-01-06 -1.304308 -0.113437 -0.177676  0.336422
2020-01-05 -0.836606 -0.205308 -0.200552  0.352849
2020-01-01 -0.497087 -1.238963  0.620610  0.229958

In [21]:
df

                   A         B         C         D
2020-01-01 -0.497087 -1.238963  0.620610  0.229958
2020-01-02 -1.168444  1.723503 -0.005929  1.584152
2020-01-03 -0.501063  2.178142 -0.293941  0.008873
2020-01-04 -2.026065  0.869705 -0.504601  0.293973
2020-01-05 -0.836606 -0.205308 -0.200552  0.352849
2020-01-06 -1.304308 -0.113437 -0.177676  0.336422

In [22]:
df['A']

2020-01-01   -0.497087
2020-01-02   -1.168444
2020-01-03   -0.501063
2020-01-04   -2.026065
2020-01-05   -0.836606
2020-01-06   -1.304308
Freq: D, Name: A, dtype: float64

In [24]:
df[0:2]

                   A         B         C         D
2020-01-01 -0.497087 -1.238963  0.620610  0.229958
2020-01-02 -1.168444  1.723503 -0.005929  1.584152

In [25]:
df[2:]

                   A         B         C         D
2020-01-03 -0.501063  2.178142 -0.293941  0.008873
2020-01-04 -2.026065  0.869705 -0.504601  0.293973
2020-01-05 -0.836606 -0.205308 -0.200552  0.352849
2020-01-06 -1.304308 -0.113437 -0.177676  0.336422

In [26]:
df[:2]

                   A         B         C         D
2020-01-01 -0.497087 -1.238963  0.620610  0.229958
2020-01-02 -1.168444  1.723503 -0.005929  1.584152

In [32]:
df['20200103':'20200106']

                   A         B         C         D
2020-01-03 -0.501063  2.178142 -0.293941  0.008873
2020-01-04 -2.026065  0.869705 -0.504601  0.293973
2020-01-05 -0.836606 -0.205308 -0.200552  0.352849
2020-01-06 -1.304308 -0.113437 -0.177676  0.336422

In [33]:
df.loc[dates[0]]

A   -0.497087
B   -1.238963
C    0.620610
D    0.229958
Name: 2020-01-01 00:00:00, dtype: float64

In [37]:
df.loc[dates[2]]

A   -0.501063
B    2.178142
C   -0.293941
D    0.008873
Name: 2020-01-03 00:00:00, dtype: float64

In [38]:
df.loc[:,['A','B']]

                   A         B
2020-01-01 -0.497087 -1.238963
2020-01-02 -1.168444  1.723503
2020-01-03 -0.501063  2.178142
2020-01-04 -2.026065  0.869705
2020-01-05 -0.836606 -0.205308
2020-01-06 -1.304308 -0.113437

In [42]:
df.loc['20200103',['C']]

C   -0.293941
Name: 2020-01-03 00:00:00, dtype: float64

In [45]:
df.loc['20200103','C']

-0.29394149950907333

In [46]:
df.loc['20200103':'20200105',['A','B']]

                   A         B
2020-01-03 -0.501063  2.178142
2020-01-04 -2.026065  0.869705
2020-01-05 -0.836606 -0.205308

In [47]:
df.loc[dates[0],'A']

-0.49708705839519973

In [48]:
df.iloc[3]

A   -2.026065
B    0.869705
C   -0.504601
D    0.293973
Name: 2020-01-04 00:00:00, dtype: float64

In [55]:
df.iloc[3:5,0:2]

                   A         B
2020-01-04 -2.026065  0.869705
2020-01-05 -0.836606 -0.205308

In [58]:
df.iloc[[1,2,4],0:2]

                   A         B
2020-01-02 -1.168444  1.723503
2020-01-03 -0.501063  2.178142
2020-01-05 -0.836606 -0.205308

In [62]:
df.iloc[1:3]

                   A         B         C         D
2020-01-02 -1.168444  1.723503 -0.005929  1.584152
2020-01-03 -0.501063  2.178142 -0.293941  0.008873

In [63]:
df.iloc[1:3,:]

                   A         B         C         D
2020-01-02 -1.168444  1.723503 -0.005929  1.584152
2020-01-03 -0.501063  2.178142 -0.293941  0.008873

In [64]:
df.iloc[:,1:3]

                   B         C
2020-01-01 -1.238963  0.620610
2020-01-02  1.723503 -0.005929
2020-01-03  2.178142 -0.293941
2020-01-04  0.869705 -0.504601
2020-01-05 -0.205308 -0.200552
2020-01-06 -0.113437 -0.177676

In [66]:
df.iloc[2:4,:]

                   A         B         C         D
2020-01-03 -0.501063  2.178142 -0.293941  0.008873
2020-01-04 -2.026065  0.869705 -0.504601  0.293973

In [67]:
df

                   A         B         C         D
2020-01-01 -0.497087 -1.238963  0.620610  0.229958
2020-01-02 -1.168444  1.723503 -0.005929  1.584152
2020-01-03 -0.501063  2.178142 -0.293941  0.008873
2020-01-04 -2.026065  0.869705 -0.504601  0.293973
2020-01-05 -0.836606 -0.205308 -0.200552  0.352849
2020-01-06 -1.304308 -0.113437 -0.177676  0.336422

In [70]:
df[df.B > 0]

                   A         B         C         D
2020-01-02 -1.168444  1.723503 -0.005929  1.584152
2020-01-03 -0.501063  2.178142 -0.293941  0.008873
2020-01-04 -2.026065  0.869705 -0.504601  0.293973

In [71]:
df[df>0]

             A         B        C         D
2020-01-01 NaN       NaN  0.62061  0.229958
2020-01-02 NaN  1.723503      NaN  1.584152
2020-01-03 NaN  2.178142      NaN  0.008873
2020-01-04 NaN  0.869705      NaN  0.293973
2020-01-05 NaN       NaN      NaN  0.352849
2020-01-06 NaN       NaN      NaN  0.336422