In [2]:
import pandas as pd

In [4]:
df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table')
print(df)

[                                       Olympic Games
0                                        Main topics
1  Bids Boycotts Ceremonies Charter Host cities I...
2                                              Games
3  Summer Winter Youth African American Asian Eur...
4  .mw-parser-output .navbar{display:inline;font-...,                                Unnamed: 0_level_0 Summer Games  \
                                  Team (IOC code)            №
0                               Afghanistan (AFG)           14
1                                   Algeria (ALG)           13
2                                 Argentina (ARG)           24
3                                   Armenia (ARM)            6
4                         Australasia (ANZ) [ANZ]            2
..                                            ...          ...
148                          Zimbabwe (ZIM) [ZIM]           13
149      Independent Olympic Athletes (IOA) [IOA]            3
150  Independent Olympic Participants (IOP) [IOP]            1
151                        Mixed team (ZZX) [ZZX]            3
152                                        Totals           28

                                                                     \
    Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1  Total
0                    0                  0                  2      2
1                    5                  4                  8     17
2                   21                 25                 28     74
3                    2                  6                  6     14
4                    3                  4                  5     12
..                 ...                ...                ...    ...
148                  3                  4                  1      8
149                  1                  0                  1      2
150                  0                  1                  2      3
151                  8                  5                  4     17
152               5116               5080               5487  15683

    Winter Games                                                           \
               № Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
0              0                  0                  0                  0
1              3                  0                  0                  0
2             19                  0                  0                  0
3              7                  0                  0                  0
4              0                  0                  0                  0
..           ...                ...                ...                ...
148            1                  0                  0                  0
149            0                  0                  0                  0
150            0                  0                  0                  0
151            0                  0                  0                  0
152           23               1062               1059               1050

          Combined Total                                          \
    Total              № Unnamed: 12_level_1 Unnamed: 13_level_1
0       0             14                   0                   0
1       0             16                   5                   4
2       0             43                  21                  25
3       0             13                   2                   6
4       0              2                   3                   4
..    ...            ...                 ...                 ...
148     0             14                   3                   4
149     0              3                   1                   0
150     0              1                   0                   1
151     0              3                   8                   5
152  3171             51                6178                6139


    Unnamed: 14_level_1  Total
0                     2      2
1                     8     17
2                    28     74
3                     6     14
4                     5     12
..                  ...    ...
148                   1      8
149                   1      2
150                   2      3
151                   4     17
152                6537  18854

[153 rows x 16 columns],                      Team (IOC code)  № Summer  № Winter  № Games
0                      Albania (ALB)         8         4       12
1               American Samoa (ASA)         8         1        9
2                      Andorra (AND)        11        12       23
3                       Angola (ANG)         9         0        9
4          Antigua and Barbuda (ANT)        10         0       10
..                               ...       ...       ...      ...
74     Republic of China (ROC) [ROC]         3         0        3
75                  Saar (SAA) [SAA]         1         0        1
76           North Yemen (YAR) [YAR]         2         0        2
77           South Yemen (YMD) [YMD]         1         0        1
78  Refugee Olympic Team (ROT) [ROT]         1         0        1

[79 rows x 4 columns],              Unnamed: 0_level_0 Summer Games                     \
                Team (IOC code)            № Unnamed: 2_level_1
0                 Germany (GER)           16                191
1                    Saar (SAA)            1                  0
2  United Team of Germany (EUA)            3                 28
3            East Germany (GDR)            5                153
4            West Germany (FRG)            5                 56
5                         Total           25                428

                                              Winter Games                     \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Total            № Unnamed: 7_level_1
0                194                230   615           12                 92
1                  0                  0     0            0                  0
2                 54                 36   118            3                  8
3                129                127   409            6                 39
4                 67                 81   204            6                 11
5                444                474  1346           21                150

                                              Combined Total  \
  Unnamed: 8_level_1 Unnamed: 9_level_1 Total              №
0                 88                 60   240             28
1                  0                  0     0              1
2                  6                  5    19              6
3                 36                 35   110             11
4                 15                 13    39             11
5                145                113   408             46


  Unnamed: 12_level_1 Unnamed: 13_level_1 Unnamed: 14_level_1 Total
0                 283                 282                 290   855
1                   0                   0                   0     0
2                  36                  60                  41   137
3                 192                 165                 162   519
4                  67                  82                  94   243
5                 578                 589                 587  1754  ,     0                                                  1
0 NaN  This section does not cite any sources. Please...,                    Unnamed: 0_level_0 Summer Games                     \
                      Team (IOC code)            № Unnamed: 2_level_1
0                        Russia (RUS)            6                149
1                Russian Empire (RU1)            3                  1
2                  Soviet Union (URS)            9                395
3                  Unified Team (EUN)            1                 45
4  Olympic Athletes from Russia (OAR)            0                  0
5                               Total           19                590

                                              Winter Games                     \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Total            № Unnamed: 7_level_1
0                125                152   426            6                 47
1                  4                  3     8            0                  0
2                319                296  1010            9                 78
3                 38                 29   112            1                  9
4                  0                  0     0            1                  2
5                486                480  1556           17                136

                                              Combined Total  \
  Unnamed: 8_level_1 Unnamed: 9_level_1 Total              №
0                 39                 35   121             12
1                  0                  0     0              3
2                 57                 59   194             18
3                  6                  8    23              2
4                  6                  9    17              1
5                108                111   355             36


  Unnamed: 12_level_1 Unnamed: 13_level_1 Unnamed: 14_level_1 Total
0                 196                 164                 187   547
1                   1                   4                   3     8
2                 473                 376                 355  1204
3                  54                  44                  37   135
4                   2                   6                   9    17
5                 726                 594                 591  1911  ,                        Unnamed: 0_level_0 Summer Games                     \
                          Team (IOC code)            № Unnamed: 2_level_1
0                            Serbia (SRB)            4                  3
1                        Yugoslavia (YUG)           16                 26
2  Independent Olympic Participants (IOP)            1                  0
3             Serbia and Montenegro (SCG)            3                  2
4                                   Total           24                 31

                                              Winter Games                     \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Total            № Unnamed: 7_level_1
0                  6                  6    15            3                  0
1                 29                 28    83           13                  0
2                  1                  2     3            0                  0
3                  4                  3     9            3                  0
4                 40                 39   110           19                  0

                                              Combined Total  \
  Unnamed: 8_level_1 Unnamed: 9_level_1 Total              №
0                  0                  0     0              7
1                  3                  1     4             29
2                  0                  0     0              1
3                  0                  0     0              6
4                  3                  1     4             43


  Unnamed: 12_level_1 Unnamed: 13_level_1 Unnamed: 14_level_1 Total
0                   3                   6                   6    15
1                  26                  32                  29    87
2                   0                   1                   2     3
3                   2                   4                   3     9
4                  31                  43                  40   114  ,    No.               Nation  Gold  Silver  Bronze  Total
0    1  United States (USA)  1022     795     706   2523
1    2         Russia (RUS)   590     486     480   1556
2    3        Germany (GER)   428     444     474   1346
3    4  Great Britain (GBR)   263     295     293    851
4    5          China (CHN)   224     167     155    546
5    6         France (FRA)   212     241     263    716
6    7          Italy (ITA)   206     178     193    577
7    8        Hungary (HUN)   175     147     169    491
8    9      Australia (AUS)   147     163     187    497
9   10         Sweden (SWE)   145     170     179    494,    No.               Nation  Gold  Silver  Bronze  Total
0    1        Germany (GER)   150     145     113    408
1    2         Russia (RUS)   136     108     111    355
2    3         Norway (NOR)   132     125     111    368
3    4  United States (USA)   105     112      88    305
4    5         Canada (CAN)    73      64      62    199
5    6        Austria (AUT)    64      81      87    232
6    7         Sweden (SWE)    57      46      55    158
7    8    Switzerland (SUI)    55      46      52    153
8    9    Netherlands (NED)    45      44      41    130
9   10        Finland (FIN)    43      63      61    167,    No.               Nation  Gold  Silver  Bronze  Total
0    1  United States (USA)  1127     907     794   2828
1    2         Russia (RUS)   726     593     591   1910
2    3        Germany (GER)   578     589     587   1754
3    4  Great Britain (GBR)   274     299     310    883
4    5         France (FRA)   248     276     316    840
5    6          Italy (ITA)   246     214     241    701
6    7          China (CHN)   237     195     176    608
7    8         Sweden (SWE)   202     216     234    652
8    9         Norway (NOR)   188     174     158    520
9   10        Hungary (HUN)   176     149     173    498,                                                    0  \
0  ANZ → AUS , NZL Australasia (ANZ) was a combin...

                                                   1
0  SRB , YUG , SCG Serbia (SRB, 1912, 2006–curren...  ,                                                    0  \
0  BIZ Belize participated under its former name ...

                                                   1
0  GHA Prior to Ghana's independence in 1957, Gol...  ,                                                    0  \
0  A Brunei's participation in the 1988 Games con...

                                                   1
0  F India's athletes originally competed at the ...  ,                                                    0  \
0  H The Bulgarian Olympic Committee claims that ...

                                                   1
0  The nationalities of many medalists at the 190...  ,                        vteOlympic Games medal tables  \
0  Olympic medal All-time Olympic Games medal tab...
1                               Summer Olympic Games
2                               Winter Olympic Games
3  Lists of Olympic medalists List of stripped Ol...

                     vteOlympic Games medal tables.1
0  Olympic medal All-time Olympic Games medal tab...
1  1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
2  1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
3  Lists of Olympic medalists List of stripped Ol...  ,                       vteOlympic Games medal winners  \
0  Olympic medal All-time Olympic Games medal tab...
1                               Summer Olympic Games
2                               Winter Olympic Games
3  Lists of Olympic medalists List of stripped Ol...

                    vteOlympic Games medal winners.1
0  Olympic medal All-time Olympic Games medal tab...
1  1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
2  1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
3  Lists of Olympic medalists List of stripped Ol...  ,                        vteLists of Olympic medalists  \
0                                      Summer sports
1                                      Winter sports
2                                Discontinued sports
3                                  Unofficial sports
4  Olympic sports Olympic medal All-time Olympic ...

                     vteLists of Olympic medalists.1
0  Archery Athletics men women Badminton Baseball...
1  Alpine skiing Biathlon Bobsleigh Cross-country...
2  Basque pelota Cricket Croquet Jeu de paume Lac...
3                                   Art competitions
4  Olympic sports Olympic medal All-time Olympic ...  ,                                     vteOlympic Games  \
0  Ceremonies People who opened the Olympics Keep...
1                                        SummerGames
2                                       Winter Games
3  Ancient Olympic Games Intercalated Games 1906 ...

                                  vteOlympic Games.1  \
0  Ceremonies People who opened the Olympics Keep...
1  1896 Athens 1900 Paris 1904 St. Louis 1908 Lon...
2  1924 Chamonix 1928 St. Moritz 1932 Lake Placid...
3  Ancient Olympic Games Intercalated Games 1906 ...

                                  vteOlympic Games.2
0  Ceremonies People who opened the Olympics Keep...
1                                                NaN
2                                                NaN
3  Ancient Olympic Games Intercalated Games 1906 ...  ,   vteOlympics and Paralympics statistics  \
0             Medalists and medal tables
1                     Multiple medalists
2                Multiple gold medalists
3                       Other statistics

            vteOlympics and Paralympics statistics.1
0  Lists of Olympic medalists List of Olympics te...
1  Multiple Olympic medalists at a single Games i...
2  Multiple Olympic gold medalists at a single Ga...
3  Olympic medals in different sports at Summer a...  ,       vteSummer Olympics medal table leaders by year  \
0  1896: United States 1900: France 1904: United ...

    vteSummer Olympics medal table leaders by year.1
0  1896: United States 1900: France 1904: United ...  ,       vteWinter Olympics medal table leaders by year  \
0  1924: Norway 1928: Norway 1932: United States ...

    vteWinter Olympics medal table leaders by year.1
0  1924: Norway 1928: Norway 1932: United States ...  ,   vteMedal tables of Olympics, Paralympics and World Championships by sport  \
0                         Olympic Games(HostsMedals)
1                      Paralympic Games(HostsMedals)
2                     WorldChampionshipsorWorld Cups
3  List of international rankings List of top int...

  vteMedal tables of Olympics, Paralympics and World Championships by sport.1
0  Alpine skiing Archery Athletics Badminton Band...
1  Alpine skiing Archery Athletics Biathlon Bocci...
2  Alpine skiing American football Aquatics Arche...
3  List of international rankings List of top int...                           ]

In [5]:
df[1]

                               Unnamed: 0_level_0 Summer Games  \
                                  Team (IOC code)            №
0                               Afghanistan (AFG)           14
1                                   Algeria (ALG)           13
2                                 Argentina (ARG)           24
3                                   Armenia (ARM)            6
4                         Australasia (ANZ) [ANZ]            2
..                                            ...          ...
148                          Zimbabwe (ZIM) [ZIM]           13
149      Independent Olympic Athletes (IOA) [IOA]            3
150  Independent Olympic Participants (IOP) [IOP]            1
151                        Mixed team (ZZX) [ZZX]            3
152                                        Totals           28

                                                                     \
    Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1  Total
0                    0                  0                  2      2
1                    5                  4                  8     17
2                   21                 25                 28     74
3                    2                  6                  6     14
4                    3                  4                  5     12
..                 ...                ...                ...    ...
148                  3                  4                  1      8
149                  1                  0                  1      2
150                  0                  1                  2      3
151                  8                  5                  4     17
152               5116               5080               5487  15683

    Winter Games                                                           \
               № Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
0              0                  0                  0                  0
1              3                  0                  0                  0
2             19                  0                  0                  0
3              7                  0                  0                  0
4              0                  0                  0                  0
..           ...                ...                ...                ...
148            1                  0                  0                  0
149            0                  0                  0                  0
150            0                  0                  0                  0
151            0                  0                  0                  0
152           23               1062               1059               1050

          Combined Total                                          \
    Total              № Unnamed: 12_level_1 Unnamed: 13_level_1
0       0             14                   0                   0
1       0             16                   5                   4
2       0             43                  21                  25
3       0             13                   2                   6
4       0              2                   3                   4
..    ...            ...                 ...                 ...
148     0             14                   3                   4
149     0              3                   1                   0
150     0              1                   0                   1
151     0              3                   8                   5
152  3171             51                6178                6139


    Unnamed: 14_level_1  Total
0                     2      2
1                     8     17
2                    28     74
3                     6     14
4                     5     12
..                  ...    ...
148                   1      8
149                   1      2
150                   2      3
151                   4     17
152                6537  18854

[153 rows x 16 columns]

In [6]:
df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table', header=0, index_col=0)
print(df)

[Empty DataFrame
Columns: []
Index: [Main topics, Bids Boycotts Ceremonies Charter Host cities IFs IOC Medal Medal tables Medalists NOCs Pierre de Coubertin medal Scandals and controversies Sports Symbols Television Torch relays Venues Women participation, Games, Summer Winter Youth African American Asian European Pacific Ancient Intercalated, .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vte],                                              Summer Games  Summer Games.1  \
Team (IOC code)                                         №             NaN
Afghanistan (AFG)                                      14             0.0
Algeria (ALG)                                          13             5.0
Argentina (ARG)                                        24            21.0
Armenia (ARM)                                           6             2.0
...                                                   ...             ...
Zimbabwe (ZIM) [ZIM]                                   13             3.0
Independent Olympic Athletes (IOA) [IOA]                3             1.0
Independent Olympic Participants (IOP) [IOP]            1             0.0
Mixed team (ZZX) [ZZX]                                  3             8.0
Totals                                                 28          5116.0

                                              Summer Games.2  Summer Games.3  \
Team (IOC code)                                          NaN             NaN
Afghanistan (AFG)                                        0.0             2.0
Algeria (ALG)                                            4.0             8.0
Argentina (ARG)                                         25.0            28.0
Armenia (ARM)                                            6.0             6.0
...                                                      ...             ...
Zimbabwe (ZIM) [ZIM]                                     4.0             1.0
Independent Olympic Athletes (IOA) [IOA]                 0.0             1.0
Independent Olympic Participants (IOP) [IOP]             1.0             2.0
Mixed team (ZZX) [ZZX]                                   5.0             4.0
Totals                                                5080.0          5487.0

                                             Summer Games.4 Winter Games  \
Team (IOC code)                                       Total            №
Afghanistan (AFG)                                         2            0
Algeria (ALG)                                            17            3
Argentina (ARG)                                          74           19
Armenia (ARM)                                            14            7
...                                                     ...          ...
Zimbabwe (ZIM) [ZIM]                                      8            1
Independent Olympic Athletes (IOA) [IOA]                  2            0
Independent Olympic Participants (IOP) [IOP]              3            0
Mixed team (ZZX) [ZZX]                                   17            0
Totals                                                15683           23

                                              Winter Games.1  Winter Games.2  \
Team (IOC code)                                          NaN             NaN
Afghanistan (AFG)                                        0.0             0.0
Algeria (ALG)                                            0.0             0.0
Argentina (ARG)                                          0.0             0.0
Armenia (ARM)                                            0.0             0.0
...                                                      ...             ...
Zimbabwe (ZIM) [ZIM]                                     0.0             0.0
Independent Olympic Athletes (IOA) [IOA]                 0.0             0.0
Independent Olympic Participants (IOP) [IOP]             0.0             0.0
Mixed team (ZZX) [ZZX]                                   0.0             0.0
Totals                                                1062.0          1059.0

                                              Winter Games.3 Winter Games.4  \
Team (IOC code)                                          NaN          Total
Afghanistan (AFG)                                        0.0              0
Algeria (ALG)                                            0.0              0
Argentina (ARG)                                          0.0              0
Armenia (ARM)                                            0.0              0
...                                                      ...            ...
Zimbabwe (ZIM) [ZIM]                                     0.0              0
Independent Olympic Athletes (IOA) [IOA]                 0.0              0
Independent Olympic Participants (IOP) [IOP]             0.0              0
Mixed team (ZZX) [ZZX]                                   0.0              0
Totals                                                1050.0           3171

                                             Combined Total  Combined Total.1  \
Team (IOC code)                                           №               NaN
Afghanistan (AFG)                                        14               0.0
Algeria (ALG)                                            16               5.0
Argentina (ARG)                                          43              21.0
Armenia (ARM)                                            13               2.0
...                                                     ...               ...
Zimbabwe (ZIM) [ZIM]                                     14               3.0
Independent Olympic Athletes (IOA) [IOA]                  3               1.0
Independent Olympic Participants (IOP) [IOP]              1               0.0
Mixed team (ZZX) [ZZX]                                    3               8.0
Totals                                                   51            6178.0

                                              Combined Total.2  \
Team (IOC code)                                            NaN
Afghanistan (AFG)                                          0.0
Algeria (ALG)                                              4.0
Argentina (ARG)                                           25.0
Armenia (ARM)                                              6.0
...                                                        ...
Zimbabwe (ZIM) [ZIM]                                       4.0
Independent Olympic Athletes (IOA) [IOA]                   0.0
Independent Olympic Participants (IOP) [IOP]               1.0
Mixed team (ZZX) [ZZX]                                     5.0
Totals                                                  6139.0

                                              Combined Total.3  \
Team (IOC code)                                            NaN
Afghanistan (AFG)                                          2.0
Algeria (ALG)                                              8.0
Argentina (ARG)                                           28.0
Armenia (ARM)                                              6.0
...                                                        ...
Zimbabwe (ZIM) [ZIM]                                       1.0
Independent Olympic Athletes (IOA) [IOA]                   1.0
Independent Olympic Participants (IOP) [IOP]               2.0
Mixed team (ZZX) [ZZX]                                     4.0
Totals                                                  6537.0

                                             Combined Total.4
Team (IOC code)                                         Total
Afghanistan (AFG)                                           2
Algeria (ALG)                                              17
Argentina (ARG)                                            74
Armenia (ARM)                                              14
...                                                       ...
Zimbabwe (ZIM) [ZIM]                                        8
Independent Olympic Athletes (IOA) [IOA]                    2
Independent Olympic Participants (IOP) [IOP]                3
Mixed team (ZZX) [ZZX]                                     17
Totals                                                  18854

[154 rows x 15 columns],                                   № Summer  № Winter  № Games
Team (IOC code)
Albania (ALB)                            8         4       12
American Samoa (ASA)                     8         1        9
Andorra (AND)                           11        12       23
Angola (ANG)                             9         0        9
Antigua and Barbuda (ANT)               10         0       10
...                                    ...       ...      ...
Republic of China (ROC) [ROC]            3         0        3
Saar (SAA) [SAA]                         1         0        1
North Yemen (YAR) [YAR]                  2         0        2
South Yemen (YMD) [YMD]                  1         0        1
Refugee Olympic Team (ROT) [ROT]         1         0        1

[79 rows x 3 columns],                              Summer Games  Summer Games.1  Summer Games.2  \
Team (IOC code)                         №             NaN             NaN
Germany (GER)                          16           191.0           194.0
Saar (SAA)                              1             0.0             0.0
United Team of Germany (EUA)            3            28.0            54.0
East Germany (GDR)                      5           153.0           129.0
West Germany (FRG)                      5            56.0            67.0
Total                                  25           428.0           444.0

                              Summer Games.3 Summer Games.4 Winter Games  \
Team (IOC code)                          NaN          Total            №
Germany (GER)                          230.0            615           12
Saar (SAA)                               0.0              0            0
United Team of Germany (EUA)            36.0            118            3
East Germany (GDR)                     127.0            409            6
West Germany (FRG)                      81.0            204            6
Total                                  474.0           1346           21

                              Winter Games.1  Winter Games.2  Winter Games.3  \
Team (IOC code)                          NaN             NaN             NaN
Germany (GER)                           92.0            88.0            60.0
Saar (SAA)                               0.0             0.0             0.0
United Team of Germany (EUA)             8.0             6.0             5.0
East Germany (GDR)                      39.0            36.0            35.0
West Germany (FRG)                      11.0            15.0            13.0
Total                                  150.0           145.0           113.0

                             Winter Games.4 Combined Total  Combined Total.1  \
Team (IOC code)                       Total              №               NaN
Germany (GER)                           240             28             283.0
Saar (SAA)                                0              1               0.0
United Team of Germany (EUA)             19              6              36.0
East Germany (GDR)                      110             11             192.0
West Germany (FRG)                       39             11              67.0
Total                                   408             46             578.0

                              Combined Total.2  Combined Total.3  \
Team (IOC code)                            NaN               NaN
Germany (GER)                            282.0             290.0
Saar (SAA)                                 0.0               0.0
United Team of Germany (EUA)              60.0              41.0
East Germany (GDR)                       165.0             162.0
West Germany (FRG)                        82.0              94.0
Total                                    589.0             587.0

                             Combined Total.4
Team (IOC code)                         Total
Germany (GER)                             855
Saar (SAA)                                  0
United Team of Germany (EUA)              137
East Germany (GDR)                        519
West Germany (FRG)                        243
Total                                    1754  , Empty DataFrame
Columns: [This section does not cite any sources. Please help improve this section by adding citations to reliable sources. Unsourced material may be challenged and removed. (February 2020) (Learn how and when to remove this template message)]
Index: [],                                    Summer Games  Summer Games.1  \
Team (IOC code)                               №             NaN
Russia (RUS)                                  6           149.0
Russian Empire (RU1)                          3             1.0
Soviet Union (URS)                            9           395.0
Unified Team (EUN)                            1            45.0
Olympic Athletes from Russia (OAR)            0             0.0
Total                                        19           590.0

                                    Summer Games.2  Summer Games.3  \
Team (IOC code)                                NaN             NaN
Russia (RUS)                                 125.0           152.0
Russian Empire (RU1)                           4.0             3.0
Soviet Union (URS)                           319.0           296.0
Unified Team (EUN)                            38.0            29.0
Olympic Athletes from Russia (OAR)             0.0             0.0
Total                                        486.0           480.0

                                   Summer Games.4 Winter Games  \
Team (IOC code)                             Total            №
Russia (RUS)                                  426            6
Russian Empire (RU1)                            8            0
Soviet Union (URS)                           1010            9
Unified Team (EUN)                            112            1
Olympic Athletes from Russia (OAR)              0            1
Total                                        1556           17

                                    Winter Games.1  Winter Games.2  \
Team (IOC code)                                NaN             NaN
Russia (RUS)                                  47.0            39.0
Russian Empire (RU1)                           0.0             0.0
Soviet Union (URS)                            78.0            57.0
Unified Team (EUN)                             9.0             6.0
Olympic Athletes from Russia (OAR)             2.0             6.0
Total                                        136.0           108.0

                                    Winter Games.3 Winter Games.4  \
Team (IOC code)                                NaN          Total
Russia (RUS)                                  35.0            121
Russian Empire (RU1)                           0.0              0
Soviet Union (URS)                            59.0            194
Unified Team (EUN)                             8.0             23
Olympic Athletes from Russia (OAR)             9.0             17
Total                                        111.0            355

                                   Combined Total  Combined Total.1  \
Team (IOC code)                                 №               NaN
Russia (RUS)                                   12             196.0
Russian Empire (RU1)                            3               1.0
Soviet Union (URS)                             18             473.0
Unified Team (EUN)                              2              54.0
Olympic Athletes from Russia (OAR)              1               2.0
Total                                          36             726.0

                                    Combined Total.2  Combined Total.3  \
Team (IOC code)                                  NaN               NaN
Russia (RUS)                                   164.0             187.0
Russian Empire (RU1)                             4.0               3.0
Soviet Union (URS)                             376.0             355.0
Unified Team (EUN)                              44.0              37.0
Olympic Athletes from Russia (OAR)               6.0               9.0
Total                                          594.0             591.0

                                   Combined Total.4
Team (IOC code)                               Total
Russia (RUS)                                    547
Russian Empire (RU1)                              8
Soviet Union (URS)                             1204
Unified Team (EUN)                              135
Olympic Athletes from Russia (OAR)               17
Total                                          1911  ,                                        Summer Games  Summer Games.1  \
Team (IOC code)                                   №             NaN
Serbia (SRB)                                      4             3.0
Yugoslavia (YUG)                                 16            26.0
Independent Olympic Participants (IOP)            1             0.0
Serbia and Montenegro (SCG)                       3             2.0
Total                                            24            31.0

                                        Summer Games.2  Summer Games.3  \
Team (IOC code)                                    NaN             NaN
Serbia (SRB)                                       6.0             6.0
Yugoslavia (YUG)                                  29.0            28.0
Independent Olympic Participants (IOP)             1.0             2.0
Serbia and Montenegro (SCG)                        4.0             3.0
Total                                             40.0            39.0

                                       Summer Games.4 Winter Games  \
Team (IOC code)                                 Total            №
Serbia (SRB)                                       15            3
Yugoslavia (YUG)                                   83           13
Independent Olympic Participants (IOP)              3            0
Serbia and Montenegro (SCG)                         9            3
Total                                             110           19

                                        Winter Games.1  Winter Games.2  \
Team (IOC code)                                    NaN             NaN
Serbia (SRB)                                       0.0             0.0
Yugoslavia (YUG)                                   0.0             3.0
Independent Olympic Participants (IOP)             0.0             0.0
Serbia and Montenegro (SCG)                        0.0             0.0
Total                                              0.0             3.0

                                        Winter Games.3 Winter Games.4  \
Team (IOC code)                                    NaN          Total
Serbia (SRB)                                       0.0              0
Yugoslavia (YUG)                                   1.0              4
Independent Olympic Participants (IOP)             0.0              0
Serbia and Montenegro (SCG)                        0.0              0

In [7]:
df[1]

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4,Winter Games,Winter Games.1,Winter Games.2,Winter Games.3,Winter Games.4,Combined Total,Combined Total.1,Combined Total.2,Combined Total.3,Combined Total.4
Team (IOC code),№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total,№,NaN,NaN,NaN,Total
Afghanistan (AFG),14,0.0,0.0,2.0,2,0,0.0,0.0,0.0,0,14,0.0,0.0,2.0,2
Algeria (ALG),13,5.0,4.0,8.0,17,3,0.0,0.0,0.0,0,16,5.0,4.0,8.0,17
Argentina (ARG),24,21.0,25.0,28.0,74,19,0.0,0.0,0.0,0,43,21.0,25.0,28.0,74
Armenia (ARM),6,2.0,6.0,6.0,14,7,0.0,0.0,0.0,0,13,2.0,6.0,6.0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe (ZIM) [ZIM],13,3.0,4.0,1.0,8,1,0.0,0.0,0.0,0,14,3.0,4.0,1.0,8
Independent Olympic Athletes (IOA) [IOA],3,1.0,0.0,1.0,2,0,0.0,0.0,0.0,0,3,1.0,0.0,1.0,2
Independent Olympic Participants (IOP) [IOP],1,0.0,1.0,2.0,3,0,0.0,0.0,0.0,0,1,0.0,1.0,2.0,3
Mixed team (ZZX) [ZZX],3,8.0,5.0,4.0,17,0,0.0,0.0,0.0,0,3,8.0,5.0,4.0,17
Totals,28,5116.0,5080.0,5487.0,15683,23,1062.0,1059.0,1050.0,3171,51,6178.0,6139.0,6537.0,18854

In [8]:
summer = df[1].iloc[:,:5]
summer

,Summer Games,Summer Games.1,Summer Games.2,Summer Games.3,Summer Games.4
Team (IOC code),№,NaN,NaN,NaN,Total
Afghanistan (AFG),14,0.0,0.0,2.0,2
Algeria (ALG),13,5.0,4.0,8.0,17
Argentina (ARG),24,21.0,25.0,28.0,74
Armenia (ARM),6,2.0,6.0,6.0,14
...,...,...,...,...,...
Zimbabwe (ZIM) [ZIM],13,3.0,4.0,1.0,8
Independent Olympic Athletes (IOA) [IOA],3,1.0,0.0,1.0,2
Independent Olympic Participants (IOP) [IOP],1,0.0,1.0,2.0,3
Mixed team (ZZX) [ZZX],3,8.0,5.0,4.0,17
Totals,28,5116.0,5080.0,5487.0,15683

In [9]:
summer.columns = ['경기수', '금', '은', '동', '계']

In [10]:
print(summer)

                                             경기수       금       은       동  \
Team (IOC code)                                №     NaN     NaN     NaN
Afghanistan (AFG)                             14     0.0     0.0     2.0
Algeria (ALG)                                 13     5.0     4.0     8.0
Argentina (ARG)                               24    21.0    25.0    28.0
Armenia (ARM)                                  6     2.0     6.0     6.0
...                                           ..     ...     ...     ...
Zimbabwe (ZIM) [ZIM]                          13     3.0     4.0     1.0
Independent Olympic Athletes (IOA) [IOA]       3     1.0     0.0     1.0
Independent Olympic Participants (IOP) [IOP]   1     0.0     1.0     2.0
Mixed team (ZZX) [ZZX]                         3     8.0     5.0     4.0
Totals                                        28  5116.0  5080.0  5487.0

                                                  계
Team (IOC code)                               Total
Afghanistan (AFG)                                 2
Algeria (ALG)                                    17
Argentina (ARG)                                  74
Armenia (ARM)                                    14
...                                             ...
Zimbabwe (ZIM) [ZIM]                              8
Independent Olympic Athletes (IOA) [IOA]          2
Independent Olympic Participants (IOP) [IOP]      3
Mixed team (ZZX) [ZZX]                           17
Totals                                        15683

[154 rows x 5 columns]

In [11]:
import pandas as pd

df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table', header=0, index_col=0)
summer = df[1].iloc[:,:5]
summer.columns = ['경기수', '금', '은', '동', '계']
print(summer.sort_values('금', ascending=False))

                                        경기수       금       은       동      계
Totals                                   28  5116.0  5080.0  5487.0  15683
United States (USA) [P] [Q] [R] [Z] [F]  27  1022.0   795.0   706.0   2523
Soviet Union (URS) [URS]                  9   395.0   319.0   296.0   1010
Great Britain (GBR) [GBR] [Z]            28   263.0   295.0   293.0    851
China (CHN) [CHN]                        10   224.0   167.0   155.0    546
...                                      ..     ...     ...     ...    ...
Eritrea (ERI)                             5     0.0     0.0     1.0      1
Serbia and Montenegro (SCG) [SCG]         1     0.0     2.0     0.0      2
Djibouti (DJI) [B]                        8     0.0     0.0     1.0      1
Afghanistan (AFG)                        14     0.0     0.0     2.0      2
Team (IOC code)                           №     NaN     NaN     NaN  Total

[154 rows x 5 columns]

In [12]:
summer.to_excel('하계올림픽메달.xlsx')

In [13]:
import pandas as pd

In [14]:
index=pd.date_range('1/1/2000', periods=8)

In [15]:
print(index)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [16]:
import numpy as np
df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=list('ABC'))
df

                   A         B         C
2000-01-01  0.670165  0.973209  0.935429
2000-01-02  0.814540  0.504789  0.048365
2000-01-03  0.177246  0.207242  0.905451
2000-01-04  0.515442  0.019929  0.813407
2000-01-05  0.576497  0.939665  0.850219
2000-01-06  0.269537  0.372617  0.599705
2000-01-07  0.003133  0.059250  0.558805
2000-01-08  0.756372  0.893022  0.315741

In [20]:
import pandas as pd
import numpy as np

index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=list('ABC'))

print(df['B'])

2000-01-01    0.629589
2000-01-02    0.560687
2000-01-03    0.692709
2000-01-04    0.301727
2000-01-05    0.180421
2000-01-06    0.049728
2000-01-07    0.831847
2000-01-08    0.140194
Freq: D, Name: B, dtype: float64

In [21]:
import pandas as pd
import numpy as np

index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=list('ABC'))

print(df['B'] >0.4)

2000-01-01    False
2000-01-02     True
2000-01-03    False
2000-01-04    False
2000-01-05     True
2000-01-06    False
2000-01-07     True
2000-01-08    False
Freq: D, Name: B, dtype: bool

In [23]:
df2 = df[df['B'] > 0.4]
df2

                   A         B         C
2000-01-02  0.350958  0.676033  0.004272
2000-01-05  0.193434  0.842151  0.482422
2000-01-07  0.276495  0.471805  0.482957